tqdm==3.7.1
PyYAML>=3.10

paste==2.0.2
bottle==0.12.9
requests==2.9.1
sqlitedict==1.4.0
bottle-rest==0.4.1
zeo_connector>=0.4.2

ipwhois>=0.11.1
langdetect==1.0.5
pythonwhois

fuzzywuzzy==0.8.0
python-Levenshtein

retrying==1.3.3
kwargs-obj==1.0.0
remove_hairs==1.0.1

iso3166
iso_639_codes>=0.0.1

pydhtmlparser>=2.1.7
marcxml-parser==1.2.3
edeposit.amqp.aleph>=1.9.5

backports.functools-lru-cache==1.2.1

xmltodict==0.10.1
odictliteral==1.0.0