.dropdown_hint {
    right: 2em;
    display: none;
    position: absolute;
    min-width: 5em;
    text-align: right;
    white-space: nowrap;

    direction: rtl;
    unicode-bidi: bidi-override;
}

.conspect_name {
    padding-left: 1em;
}

.gray_text {
    color: gray;
}

.progress-bar {
    color: black;
}

#conspect_subconspect_typeahead .tt-menu {
    max-height: 20em;
    overflow-y: auto;
}

body {
    width: 100%;
    margin: 0;
}

.searchable_conspect {
    display: none;
}

.btn-default {
    width: 5em;
}

.kw_remover {
    color: red;
    cursor: pointer;
}

.kw_enum {
    list-style-type: none;
}