<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WA KAT</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <h1 class="text-center">WA KAT</h1>

  <div class="container">
  <form id="application_form" class="form-horizontal">
    <div class="form-group">
      <label for="url" class="control-label col-sm-2">URL</label>
      <div class="col-sm-10">
        <p class="form-control-static"><a href="http://someurl.net">http://someurl.net</a></p>
      </div>
    </div>

    <div class="form-group">
      <label for="issn" class="control-label col-sm-2">ISSN</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="issn" placeholder="ISSN. Bude použito pro získání dalších katalogizačních informací." />
      </div>
    </div>

    <div class="form-group">
      <label for="title" class="control-label col-sm-2">Název</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" placeholder="Název katalogizovaných webstránek." />
      </div>
    </div>

    <div class="form-group">
      <label for="creation_date" class="control-label col-sm-2">Datum vzniku</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="creation_date" placeholder="Datum vzniku webstránek. Formát DD.MM.YYYY." />
      </div>
    </div>

    <div class="form-group">
      <label for="author" class="control-label col-sm-2">Autor, Vydavatel</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="author" placeholder="Autor či vydavatel stránek." />
      </div>
    </div>

    <div class="form-group">
      <label for="place" class="control-label col-sm-2">Místo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="place" placeholder="Místo vzniku" />
      </div>
    </div>

    <div class="form-group">
      <label for="keywords" class="control-label col-sm-2">Předmětová hesla</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="keywords">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="konspekt" class="control-label col-sm-2">Konspekt</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="konspekt">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="subkonspekt" class="control-label col-sm-2">SubKonspekt</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="subkonspekt">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="freq" class="control-label col-sm-2">Frekvence</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="freq">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="lang" class="control-label col-sm-2">Jazyk</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="lang">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="annotation" class="control-label col-sm-2">Anotace</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="annotation"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="periode" class="control-label col-sm-2">Periodicita</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="periode">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="rules" class="control-label col-sm-2">Pravidla</label>
      <div class="col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Option one is this and that&mdash;be sure to include why it's great
            </label>
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="header" class="control-label col-sm-2">Hlavička</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="header"></textarea>
      </div>
    </div>
  </form>
</div>

<footer class="footer text-center">
  <div class="container">
    <p class="text-muted">© 2015 <a href="https://github.com/WebArchivCZ/WA-KAT">WA KAT</a></p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

  </body>
</html>