<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WA KAT</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/typeaheadjs.css" rel="stylesheet">
    <link href="/static/css/wa_kat.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/static/js/brython_dist.js"></script>
  </head>
  <body onload="brython({debug: 1})">
  <h1 class="text-center">WA KAT</h1>

  <div class="container">
  <form id="application_form" class="form-horizontal" role="form">

    <div class="form-group">
      <label for="url" class="control-label col-sm-2">URL</label>
      <div class="col-sm-10">
        <div class="input-group">
% if registered:
          <!-- <p class="form-control-static"><a href="{{url}}">{{url}}</a></p> -->
          <input type="text" class="form-control" id="url" placeholder="URL webu ke katalogizaci." value="{{url}}"/>
% else:
          <input type="text" class="form-control" id="url" placeholder="URL webu ke katalogizaci." value="http://vps4life.kitakitsune.org/example.html"/>
% end
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="run_button">Spustit</button>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" id="whole_urlbox_error" style="display: none;">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="alert alert-danger" role="alert" id="urlbox_error"></div>
      </div>
    </div>

    <div class="form-group" id="whole_progress_bar" style="display: none;">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress_bar">
            Čekejte prosím, analýzy probíhají..
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="issn" class="control-label col-sm-2">ISSN</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" id="issn" placeholder="ISSN. Bude použito pro získání dalších katalogizačních informací." value="1805-8787" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="issn_run_button">Načíst</button>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" id="whole_issnbox_error" style="display: none;">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="alert alert-danger" role="alert" id="issnbox_error"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="title" class="control-label col-sm-2">Název</label>
      <div id="title_typeahead" class="col-sm-10">
        <input class="typeahead form-control" type="text" id="title" placeholder="Název katalogizovaných webstránek.">
        <i class="dropdown_hint glyphicon glyphicon-menu-down form-control-feedback"></i>
      </div>
    </div>

    <div class="form-group">
      <label for="creation_date" class="control-label col-sm-2">Datum vzniku</label>
      <div id="creation_date_typeahead" class="col-sm-10">
        <input class="typeahead form-control" type="text" id="creation_date" placeholder="Datum vzniku webstránek. Formát DD.MM.YYYY.">
        <i class="dropdown_hint glyphicon glyphicon-menu-down form-control-feedback"></i>
      </div>
    </div>

    <div class="form-group">
      <label for="author" class="control-label col-sm-2">Autor, Vydavatel</label>
      <div id="author_typeahead" class="col-sm-10">
        <input class="typeahead form-control" type="text" id="author" placeholder="Autor či vydavatel stránek.">
        <i class="dropdown_hint glyphicon glyphicon-menu-down form-control-feedback"></i>
      </div>
    </div>

    <div class="form-group">
      <label for="place" class="control-label col-sm-2">Místo</label>
      <div id="place_typeahead" class="col-sm-10">
        <input class="typeahead form-control" type="text" id="place" placeholder="Místo vzniku.">
        <i class="dropdown_hint glyphicon glyphicon-menu-down form-control-feedback"></i>
      </div>
    </div>

    <div class="form-group">
      <label for="keywords" class="control-label col-sm-2">Předmětová hesla</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="keywords">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="form-group two_conspect">
      <input class="conspect_switcher" type="checkbox" />
      <label for="konspekt" class="control-label col-sm-2">Konspekt</label>
      <div class="col-sm-10">
        <select class="form-control" id="konspekt" size="4"></select>
      </div>
    </div>

    <div class="form-group two_conspect">
      <label for="subkonspekt" class="control-label col-sm-2">SubKonspekt</label>
      <div class="col-sm-10">
        <select class="form-control" id="subkonspekt" size="4"></select>
      </div>
    </div>

    <div class="form-group searchable_conspect">
      <input class="conspect_switcher" type="checkbox" />
      <label for="conspect_subconspect" class="control-label col-sm-2">Konspekt</label>
      <div id="conspect_subconspect_typeahead" class="col-sm-10">
        <input class="typeahead form-control" type="text" id="conspect_subconspect" placeholder="Konspekt a subkonspekt - psaním vyberete.">
        <i class="dropdown_hint glyphicon glyphicon-menu-down form-control-feedback"></i>
      </div>
    </div>

    <div class="form-group">
      <label for="lang" class="control-label col-sm-2">Jazyk</label>
      <div id="lang_typeahead" class="col-sm-10">
        <input class="typeahead form-control" type="text" id="lang" placeholder="Kód jazyka.">
        <i class="dropdown_hint glyphicon glyphicon-menu-down form-control-feedback"></i>
      </div>
    </div>

    <div class="form-group">
      <label for="annotation" class="control-label col-sm-2">Anotace</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="annotation"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="periode" class="control-label col-sm-2">Periodicita</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="periode">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="freq" class="control-label col-sm-2">Frekvence sklízení</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="freq">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="rules" class="control-label col-sm-2">Pravidla</label>

      <span class="col-sm-2">
        <h4>Hloubka (budget)</h4>
        <div class="radio">
          <label>
            <input type="radio" name="budget_radio" value="1500" checked>
            Default (15 000)
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="budget_radio" value="60000">
            Vyšší (60 000)
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="budget_radio" value="5600">
            Nižší (5 600)
          </label>
        </div>
      </span>

      <span class="col-sm-2">
        <h4>Jemnost sklízení</h4>
        <div class="radio">
          <label>
            <input type="radio" name="gentle_fetch_radio" value="default" checked>
            Default
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gentle_fetch_radio" value="low">
            Jemný
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gentle_fetch_radio" value="very_low">
            Velmi jemný
          </label>
        </div>
      </span>

      <span class="col-sm-2">
        <h4>Local Traps</h4>
        <div class="radio">
          <label>
            <input type="radio" name="local_traps_radio" value="true">
            Ano
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="local_traps_radio" value="false" checked>
            Ne
          </label>
        </div>
      </span>

      <span class="col-sm-2">
        <h4>Kalendáře</h4>
        <div class="radio">
          <label>
            <input type="radio" name="calendars_radio" value="true">
            Ano
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="calendars_radio" value="false" checked>
            Ne
          </label>
        </div>
      </span>

      <span class="col-sm-2">
        <h4>Youtube videa</h4>
        <div class="radio">
          <label>
            <input type="radio" name="youtube_radio" value="true">
            Ano
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="youtube_radio" value="false" checked>
            Ne
          </label>
        </div>
      </span>
    </div>

    <div class="form-group">
        <span class="col-sm-2"></span>

        <span class="col-sm-2">
          <h4>Global reject</h4>
          <div class="radio">
            <label>
              <input type="radio" name="global_reject_radio" value="true" checked>
              Ano
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="global_reject_radio" value="false">
              Ne
            </label>
          </div>
        </span>

        <span class="col-sm-3">
          <h4>Javascript interpreter</h4>
          <div class="radio">
            <label>
              <input type="radio" name="javascript_radio" value="true">
              Ano
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="javascript_radio" value="false" checked>
              Ne
            </label>
          </div>
        </span>
    </div>

    <div class="form-group"></div>
    </div>
  </form>
</div>

<footer class="footer text-center">
  <div class="container">
    <p class="text-muted">© 2015 <a href="https://github.com/WebArchivCZ/WA-KAT">WA KAT</a></p>
  </div>
</footer>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/typeahead.bundle.js"></script>
<script src="/static/js/typeahead_custom.js"></script>
<script type="text/python" src="/static/py/wa_kat_main.py"></script>

  </body>
</html>